<div th:replace="header.html"></div>
<h1>Admin</h1>
<div th:if="${currentUser != null}">
  <h1>Welcome <b th:text="${currentUser.name}"></b></h1>
</div>
<h1>Welcome </h1>
<a href="/categories/add">add category</a>
<a href="/products">products</a>
<a href="/login" th:if="${currentUser == null}">login</a>
<a href="/user/register" th:if="${currentUser == null}">Register</a>
<a th:if="${currentUser != null}" href="/logout">Logout</a>
<th:block th:include="footer.html :: footer"></th:block>
</body>
</html>