<th:block th:include="/fragment/header::header"></th:block>
<table style="border: 1px solid black">
    <thead>
    <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Post Code</th>
        <th>User Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td>
            <img th:if="${user.getProfilePic() != null}"
                 th:src="@{/getImage(profilePic=${user.getProfilePic()})}"
                 width="80">
            <img th:unless="${user.getProfilePic() != null}" src="" width="80">
        </td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.addresses}"></td>
        <td th:text="${user.gender}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.postCode}"></td>
        <td th:text="${user.getRole}"></td>
        <td><a th:href="@{/user/remove(id=${user.id})}">delete</a>/<a th:href="@{/user/update(id=${user.id})}">update</a></td>
    </tr>
    </tbody>
</table>
<th:block th:include="footer.html :: footer"></th:block>
</body>
</html>