<th:block th:include="/fragment/header::header"></th:block><!-- End Page Title --><!-- Section -->
    <section class="section">
      <div class="container">
        <div class="row gy-4"><!-- Cart Items -->
          <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center pb-4 border-bottom mb-4"><h2
                    class="h5 mb-0">Products</h2><a class="btn btn-outline-primary btn-sm ps-2"
                                                    href="https://www.pxdraft.com/wrap/shopapp/html/account/shop-grid-ls.html"><i
                    class="ci-arrow-left me-2"></i>Continue Shopping</a></div><!-- Item-->
            <div class="d-flex align-items-center flex-row w-100 pb-3 mb-3 border-bottom"><a
                    class="d-inline-block flex-shrink-0 me-3" href="shop-cart.html#"><img
                    src="/img/fashion2/product-1.jpg" width="120" alt="Product"></a>
              <div class="d-flex flex-column flex-sm-row col">
                <div class="pe-sm-2"><h3 class="product-title fs-5 mb-1"><a class="text-reset"
                                                                            href="shop-cart.html#">Fine-knit
                  sweater</a></h3>
                  <div class="small"><span class="text-muted me-2">Size:</span>XL</div>
                  <div class="small"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                  <div class="lead pt-1">$154.00</div>
                </div>
                <div class="pt-2 pt-sm-0 d-flex d-sm-block ms-sm-auto"><label
                        class="form-label d-none d-sm-inline-block">Quantity</label>
                  <div class="cart-qty-01">
                    <div class="dec qty-btn qty_btn"><i class="bi bi-caret-up-fill"></i></div>
                    <input class="cart-qty-input form-control" type="text" name="qtybutton"
                           value="1">
                    <div class="inc qty-btn qty_btn"><i class="bi bi-caret-down-fill"></i></div>
                  </div>
                  <button class="btn btn-link px-0 text-danger ms-auto" type="button"><i
                          class="bi-trash3 me-2"></i><span class="">Remove</span></button>
                </div>
              </div>
            </div><!-- Item-->
            <div class="d-flex align-items-center flex-row w-100 pb-3 mb-3 border-bottom"><a
                    class="d-inline-block flex-shrink-0 me-3" href="shop-cart.html#"><img
                    src="/img/fashion2/product-1.jpg" width="120" alt="Product"></a>
              <div class="d-flex flex-column flex-sm-row col">
                <div class="pe-sm-2"><h3 class="product-title fs-5 mb-1"><a class="text-reset"
                                                                            href="shop-cart.html#">Fine-knit
                  sweater</a></h3>
                  <div class="small"><span class="text-muted me-2">Size:</span>XL</div>
                  <div class="small"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                  <div class="lead pt-1">$154.00</div>
                </div>
                <div class="pt-2 pt-sm-0 d-flex d-sm-block ms-sm-auto"><label
                        class="form-label d-none d-sm-inline-block">Quantity</label>
                  <div class="cart-qty-01">
                    <div class="dec qty-btn qty_btn"><i class="bi bi-caret-up-fill"></i></div>
                    <input class="cart-qty-input form-control" type="text" name="qtybutton"
                           value="1">
                    <div class="inc qty-btn qty_btn"><i class="bi bi-caret-down-fill"></i></div>
                  </div>
                  <button class="btn btn-link px-0 text-danger ms-auto" type="button"><i
                          class="bi-trash3 me-2"></i><span class="">Remove</span></button>
                </div>
              </div>
            </div><!-- Item-->
            <div class="d-flex align-items-center flex-row w-100 pb-3 mb-3 border-bottom"><a
                    class="d-inline-block flex-shrink-0 me-3" href="shop-cart.html#"><img
                    src="/img/fashion2/product-1.jpg" width="120" alt="Product"></a>
              <div class="d-flex flex-column flex-sm-row col">
                <div class="pe-sm-2"><h3 class="product-title fs-5 mb-1"><a class="text-reset"
                                                                            href="shop-cart.html#">Fine-knit
                  sweater</a></h3>
                  <div class="small"><span class="text-muted me-2">Size:</span>XL</div>
                  <div class="small"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                  <div class="lead pt-1">$154.00</div>
                </div>
                <div class="pt-2 pt-sm-0 d-flex d-sm-block ms-sm-auto"><label
                        class="form-label d-none d-sm-inline-block">Quantity</label>
                  <div class="cart-qty-01">
                    <div class="dec qty-btn qty_btn"><i class="bi bi-caret-up-fill"></i></div>
                    <input class="cart-qty-input form-control" type="text" name="qtybutton"
                           value="1">
                    <div class="inc qty-btn qty_btn"><i class="bi bi-caret-down-fill"></i></div>
                  </div>
                  <button class="btn btn-link px-0 text-danger ms-auto" type="button"><i
                          class="bi-trash3 me-2"></i><span class="">Remove</span></button>
                </div>
              </div>
            </div><!-- Item-->
            <div class="d-flex align-items-center flex-row w-100 pb-3 mb-3 border-bottom"><a
                    class="d-inline-block flex-shrink-0 me-3" href="shop-cart.html#"><img
                    src="/img/fashion2/product-1.jpg" width="120" alt="Product"></a>
              <div class="d-flex flex-column flex-sm-row col">
                <div class="pe-sm-2"><h3 class="product-title fs-5 mb-1"><a class="text-reset"
                                                                            href="shop-cart.html#">Fine-knit
                  sweater</a></h3>
                  <div class="small"><span class="text-muted me-2">Size:</span>XL</div>
                  <div class="small"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                  <div class="lead pt-1">$154.00</div>
                </div>
                <div class="pt-2 pt-sm-0 d-flex d-sm-block ms-sm-auto"><label
                        class="form-label d-none d-sm-inline-block">Quantity</label>
                  <div class="cart-qty-01">
                    <div class="dec qty-btn qty_btn"><i class="bi bi-caret-up-fill"></i></div>
                    <input class="cart-qty-input form-control" type="text" name="qtybutton"
                           value="1">
                    <div class="inc qty-btn qty_btn"><i class="bi bi-caret-down-fill"></i></div>
                  </div>
                  <button class="btn btn-link px-0 text-danger ms-auto" type="button"><i
                          class="bi-trash3 me-2"></i><span class="">Remove</span></button>
                </div>
              </div>
            </div>
            <button class="btn btn-primary d-block w-100 mt-4" type="button"><i
                    class="bi-arrow-repeat fs-base me-2"></i>Update cart
            </button>
          </div><!-- Cart Sidebar -->
          <div class="col-lg-4 ps-xl-7"><!-- Shipping estimates -->
            <div class="card mb-4">
              <div class="card-header bg-transparent py-3"><h6 class="m-0 h5">Shipping estimates</h6>
              </div>
              <div class="card-body">
                <div class="mb-3"><select class="form-select" required="">
                  <option value="">Choose your country</option>
                  <option value="Australia">Australia</option>
                  <option value="Belgium">Belgium</option>
                  <option value="Canada">Canada</option>
                  <option value="Finland">Finland</option>
                  <option value="Mexico">Mexico</option>
                  <option value="New Zealand">New Zealand</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="United States">United States</option>
                </select>
                  <div class="invalid-feedback">Please choose your country!</div>
                </div>
                <div class="mb-3"><select class="form-select" required="">
                  <option value="">Choose your city</option>
                  <option value="Bern">Bern</option>
                  <option value="Brussels">Brussels</option>
                  <option value="Canberra">Canberra</option>
                  <option value="Helsinki">Helsinki</option>
                  <option value="Mexico City">Mexico City</option>
                  <option value="Ottawa">Ottawa</option>
                  <option value="Washington D.C.">Washington D.C.</option>
                  <option value="Wellington">Wellington</option>
                </select>
                  <div class="invalid-feedback">Please choose your city!</div>
                </div>
                <div class="mb-3"><input class="form-control" type="text"
                                         placeholder="ZIP / Postal code" required="">
                  <div class="invalid-feedback">Please provide a valid zip!</div>
                </div>
                <button class="btn btn-outline-primary d-block w-100" type="submit">Calculate shipping
                </button>
              </div>
            </div><!-- Order Total -->
            <div class="card">
              <div class="card-header bg-transparent py-3"><h6 class="m-0 h5">Order Total</h6></div>
              <div class="card-body">
                <ul class="list-unstyled">
                  <li class="d-flex justify-content-between align-items-center mb-2"><h6
                          class="me-2 text-body">Subtotal</h6><span class="text-end">$265.00</span>
                  </li>
                  <li class="d-flex justify-content-between align-items-center mb-2"><h6
                          class="me-2 text-body">Taxes</h6><span class="text-end">$265.00</span></li>
                  <li class="d-flex justify-content-between align-items-center border-top pt-3 mt-3">
                    <h6 class="me-2">Grand Total</h6><span class="text-end text-mode">$265.00</span>
                  </li>
                </ul>
                <div class="pt-2 pb-4">
                  <div class="d-flex"><input type="text" name="promo" placeholder="Apply promo code"
                                             class="form-control form-control-sm">
                    <button class="btn btn-dark btn-sm ms-2">Apply</button>
                  </div>
                </div>
                <div class="d-grid gap-2 mx-auto"><a class="btn btn-primary"
                                                     href="https://www.pxdraft.com/wrap/shopapp/html/account/checkout-shipping.html"><i
                        class="bi-credit-card-2-back me-2"></i> Proceed to Checkout</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Section --></main><!-- End Main --><!-- Footer -->
  <footer class="bg-dark footer border-top">
    <div class="footer-top py-6">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4 my-3">
            <div class="pb-3"><img src="/img/logo-light.svg" title="" alt=""></div>
            <address class="white-link mb-4"><p class="text-white text-opacity-85 mb-2">301 The Greenhouse
              London,<br>E2 8DY UK</p>
              <p class="mb-2"><a class="border-bottom border-secondary" href="mailto:support@domain.com">support@domain.com</a>
              </p>
              <p class="mb-2"><a class="border-bottom border-secondary" href="tel:820-885-3321">820-885-3321</a>
              </p></address>
            <div class="nav white-link fs-5"><a class="me-3" href="shop-cart.html#"><i
                    class="bi bi-facebook"></i> </a><a class="me-3" href="shop-cart.html#"><i
                    class="bi bi-twitter"></i> </a><a class="me-3" href="shop-cart.html#"><i
                    class="bi bi-instagram"></i> </a><a class="me-3" href="shop-cart.html#"><i
                    class="bi bi-linkedin"></i></a></div>
          </div>
          <div class="col-sm-6 col-lg-2 my-3"><h6 class="text-white text-uppercase mb-5">Support</h6>
            <ul class="list-unstyled white-link footer-link-1 m-0">
              <li class="pb-2"><a href="shop-cart.html#">Help</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Contact Us</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Feedback</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Unsubscribe</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Reservations</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-2 my-3"><h6 class="text-white text-uppercase mb-5">Policies</h6>
            <ul class="list-unstyled white-link footer-link-1 m-0">
              <li class="pb-2"><a href="shop-cart.html#">Privacy Policy</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Terms of use</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Gift card conditions</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Shipping</a></li>
              <li class="pb-2"><a href="shop-cart.html#">Return</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-4 my-3"><h6 class="text-white text-uppercase mb-5">Stay up to date</h6>
            <p class="text-white text-opacity-85">Aliquam erat volutpat. Nam dui mi, tincidunt quis,
              accumsan.</p>
            <form>
              <div class="d-flex flex-column flex-md-row mb-2"><input type="email"
                                                                      class="form-control me-md-2 mb-2 mb-md-0"
                                                                      placeholder="Enter your username">
                <button class="btn btn-primary flex-shrink-0" type="submit">Get Started</button>
              </div>
              <p class="text-white text-opacity-85 m-0">New UI kits or big discounts. Never spam.</p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom py-3 footer-border-top light small">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center text-md-start py-1"><p class="m-0 text-white text-opacity-85">©
            2023 copyright by <a href="/" target="_blank"
                                 class="text-reset">pxdraft</a></p></div>
          <div class="col-md-6 text-center text-md-end py-1"><img src="/img/payments.png" title=""
                                                                  alt=""></div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer --></div><!--
    ========================
       End Wrapper
    ========================
    --><!-- script start --><!-- jquery -->
<th:block th:include="fragment/head::footer"></th:block>
</body>
</html>