<th:block th:include="/fragment/header::header"></th:block><!-- End Page Title --><!-- Section -->
<section class="section">
    <div class="container">
        <div class="row gy-4"><!-- Cart Items -->
            <div class="col-lg-8">
                <div class="d-flex justify-content-between align-items-center pb-4 border-bottom mb-4"><h2
                        class="h5 mb-0">Products</h2><a class="btn btn-outline-primary btn-sm ps-2"
                                                        th:href="@{/products}"><i
                        class="ci-arrow-left me-2"></i>Continue Shopping</a></div><!-- Item-->
                <block th:each="cart :${carts}">
                    <th:block th:each="cartItem:${cart.getCartItems()}">
                        <div class="d-flex align-items-center flex-row w-100 pb-3 mb-3 border-bottom"><a
                                class="d-inline-block flex-shrink-0 me-3" href="shop-cart.html#"><img
                                th:src="@{/getImage(profilePic=${cartItem.product.images[0].image})}" width="120"
                                alt="Product"></a>
                            <div class="d-flex flex-column flex-sm-row col">
                                <div class="pe-sm-2"><h3 class="product-title fs-5 mb-1"><a class="text-reset"
                                                                                            href="shop-cart.html#"
                                                                                            th:text="${cartItem.product.name}">
                                </a></h3>
                                    <input type="hidden" id="cartItemInput" name="cartItemId"
                                           th:value="${cartItem.id}">
                                    <input type="hidden" id="productInput" name="productId"
                                           th:value="${cartItem.product.id}">
                                    <div class="small"><span class="text-muted me-2">Size:</span>XL</div>
                                    <div class="small"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                                    <div class="lead pt-1" th:text="${cartItem.product.price}">$154.00</div>
                                </div>
                                <div class="pt-2 pt-sm-0 d-flex d-sm-block ms-sm-auto"><label
                                        class="form-label d-none d-sm-inline-block">Quantity</label>
                                    <div class="cart-qty-01">
                                        <div class="dec qty-btn qty_btn"><i class="bi bi-caret-up-fill"></i></div>
                                        <input id="countInput" class="cart-qty-input form-control" type="text"
                                               name="count" th:value="${cartItem.count}">
                                        <div class="inc qty-btn qty_btn"><i class="bi bi-caret-down-fill"></i></div>
                                    </div>
                                    <form action="/cart/remove" method="post">
                                        <input type="hidden" name="productId" th:value="${cartItem.product.id}">
                                        <button class="btn btn-link px-0 text-danger ms-auto" type="submit"><i
                                                class="bi-trash3 me-2"></i><span class="">Remove</span></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </th:block>
                </block>

                <form action="/cart/update" method="POST" onsubmit="updateCount(event)">
                    <input id="hiddenCountInput" type="hidden" name="count" value="">
                    <input id="hiddenCartInput" type="hidden" name="cartItem" value="">
                    <button class="btn btn-primary d-block w-100 mt-4" type="submit"><i
                            class="bi-credit-card-2-back me-2"></i>Order
                    </button>
                </form>

            </div><!-- Cart Sidebar -->
            <div class="col-lg-4 ps-xl-7"><!-- Shipping estimates -->
                <div class="card mb-4">
                    <div class="card-header bg-transparent py-3"><h6 class="m-0 h5">Shipping estimates</h6>
                    </div>
                    <div class="card-body">
                        <div class="mb-3"><select class="form-select" required="">
                            <option value="">Choose your country</option>
                            <option value="Australia">Australia</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Canada">Canada</option>
                            <option value="Finland">Finland</option>
                            <option value="Mexico">Mexico</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="United States">United States</option>
                        </select>
                            <div class="invalid-feedback">Please choose your country!</div>
                        </div>
                        <div class="mb-3"><select class="form-select" required="">
                            <option value="">Choose your city</option>
                            <option value="Bern">Bern</option>
                            <option value="Brussels">Brussels</option>
                            <option value="Canberra">Canberra</option>
                            <option value="Helsinki">Helsinki</option>
                            <option value="Mexico City">Mexico City</option>
                            <option value="Ottawa">Ottawa</option>
                            <option value="Washington D.C.">Washington D.C.</option>
                            <option value="Wellington">Wellington</option>
                        </select>
                            <div class="invalid-feedback">Please choose your city!</div>
                        </div>
                        <div class="mb-3"><input class="form-control" type="text"
                                                 placeholder="ZIP / Postal code" required="">
                            <div class="invalid-feedback">Please provide a valid zip!</div>
                        </div>
                        <button class="btn btn-outline-primary d-block w-100" type="submit">Calculate shipping
                        </button>
                    </div>
                </div><!-- Order Total -->
                <div class="card">
                    <div class="card-header bg-transparent py-3"><h6 class="m-0 h5">Order Total</h6></div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li class="d-flex justify-content-between align-items-center mb-2"><h6
                                    class="me-2 text-body">Subtotal</h6><span class="text-end">$265.00</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center mb-2"><h6
                                    class="me-2 text-body">Taxes</h6><span class="text-end">$265.00</span></li>
                            <li class="d-flex justify-content-between align-items-center border-top pt-3 mt-3">
                                <h6 class="me-2">Grand Total</h6><span class="text-end text-mode">$265.00</span>
                            </li>
                        </ul>

                        <div class="pt-2 pb-4">
                            <div class="d-flex"><input type="text" name="promo" placeholder="Apply promo code"
                                                       class="form-control form-control-sm">
                                <button class="btn btn-dark btn-sm ms-2">Apply</button>
                            </div>
                        </div>
                        <form action="/order/add" method="POST">
                            <button class="btn btn-primary d-block w-100 mt-4" type="submit"><i
                                    class="bi-credit-card-2-back me-2"></i>Proceed to Checkout
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section></main><!-- End Main --><!-- Footer -->
<script>
    function updateCount(event) {
        event.preventDefault(); // Prevent the default form submission

        // Get the updated count value
        var count = document.getElementById('countInput').value;

        // Assign the count value to the hidden input field
        document.getElementById('hiddenCountInput').value = count;

        var cartItemId = document.getElementById('cartItemInput').value;
        document.getElementById('hiddenCartInput').value = cartItemId;

        // Submit the form
        event.target.submit();
    }

</script>
<block th:include="fragment/footer::footer"></block>
</body>
</html>