<div th:replace="header.html"></div>
<a href="/products/add">Add Product</a>
<div th:each="product : ${products}">
    <a th:src="@{products/${product.id}}">
        <div>
            <img th:if="${product.profilePic != null}" th:src="@{/getImage(profilePic=${product.profilePic})}" width="80">
            <img th:unless="${product.profilePic != null}" src="/image/product-5806313-4863042.webp" width="80">
        </div>
        <div th:text="${product.name}"></div>
        <div th:text="${product.price}"></div>
    </a>
</div>
<th:block th:include="footer.html :: footer"></th:block>
</body>
</html>