<div th:replace="header.html"></div>
<img th:if="${user.profilePic != null}" th:src="@{/getImage(profilePic=${user.profilePic})}"
     width="80">
<h2 th:text="${user.name}"></h2>
<h2 th:text="${user.surname}"></h2>
<h2 th:text="${user.email}"></h2>
<h2 th:text="${user.gender}"></h2>
<h2 th:text="${user.phoneNumber}"></h2>
<th:block th:each="address : ${user.addresses}">
    <h2 th:text="${address}"></h2>
</th:block>
<h3>Edit Profile Pic</h3>
<form th:action="@{'user'}" method="post" enctype="multipart/form-data">
    <input type="file" name="profile_pic"><br>
    <input type="submit" value="edit">
</form>
<a th:href="@{'/user/notifications/' + ${user.id}}">Notifications</a>
<th:block th:include="footer.html :: footer"></th:block>
</body>
</html>